<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header class="header">
            <input class="search" type="text" placeholder="Search task..." v-model="text" />
            <span class="todo-count">
                <strong>{{allTodo}}</strong> - All tasks <br>
                <strong>{{doneTodo}}</strong> - Done tasks <br>
                <strong>{{inProgressTodo}}</strong> - In progress <br>
                <p>Progress bar - {{doneTodo}} / {{allTodo}} </p>
                <div class="progress">
                    <div class="progress-bar" v-bind:style="{width: progress + '%'}">
                        <span v-if='progress'>{{progress}}%</span>
                    </div>
                </div>
            </span>
        </header>

        <div class="main">
            <h1>To Do List</h1>

            <input class="addTodo" type="text" id="createTask" placeholder="Add new task..." @keyup.enter="newTodo">
            <button class="addTask" v-on:click="newTodo">Add</button>
        </div>
        <aside class="list">
            <ol>
                <li v-bind:class="{ active: todo.isDone }" v-for="(todo, index) in filteredList"
                    v-on:click="markAsDone(index)">
                    {{ todo.text }} <button class="close" v-on:click="removeTodo(index)">X</button>
                </li>
            </ol>
            <p class="list-empty" v-show="todos.length == 0">Nothing todo!</p>
        </aside>
        <aside class="sort">
            <button class="sort-btn" v-on:click="completedTodo">Done: {{doneTodo}}</button>
            <button class="sort-btn" v-on:click="inProgress">In Progress: {{inProgressTodo}}</button>
            <button class="sort-btn" v-on:click="allTodos">All: {{allTodo}}</button>
        </aside>
        <footer class="motivation">
            <div>Yesterday, you said Tomorrow.</div>
        </footer>
    </div>
    <script src="vue.js"></script>
    <script src="todo.vue"></script>
</body>

</html>