<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header class="header">
            <input class="search" type="text" placeholder="Search task..." v-model="text" />
            <span class="todo-count">
                <strong>{{allTodo}}</strong> - All tasks <br>
                <strong>{{doneTodo}}</strong> - Done tasks <br>
                <strong>{{inProgressTodo}}</strong> - In progress <br>
                <p>Progress bar - {{doneTodo}} / {{allTodo}} </p>
                <div class="progress">
                    <div class="progress-bar" v-bind:style="{width: progress + '%'}">
                        <span v-if='progress'>{{progress}}%</span>
                    </div>
                </div>
            </span>
        </header>
     
        <div class="main">
            <h1>To Do List</h1>
           
            <input class="addTodo" type="text" id="createTask" placeholder="Add new task..." @keyup.enter="newTodo">
            <button class="addTask" v-on:click="newTodo">Add</button>
        </div>
        <aside class="list">
            <ol>
                <li v-bind:class="{ active: todo.isDone }" v-for="(todo, index) in filteredList"
                    v-on:click="markAsDone(index)">
                    {{ todo.text }} <button class="close" v-on:click="removeTodo(index)">X</button>
                </li>
            </ol>
            <p class="list-empty" v-show="todos.length == 0">Nothing todo!</p>
        </aside>
       <aside class="sort"> 
           <button class="sort-btn" v-on:click="completedTodo">Done: {{doneTodo}}</button>
           <button class="sort-btn" v-on:click="inProgress">In Progress: {{inProgressTodo}}</button>
           <button class="sort-btn" v-on:click="allTodos">All: {{allTodo}}</button>
    </aside>
        <footer class="motivation"><div>Yesterday, you said Tomorrow. 
        </div>
       
        

    </footer>
    </div>
    <script src="vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                text: '',
                onlyComplited: false,
                onlyInProgress: false,
                todos: [
                    { text: 'Learn JavaScript', isDone: true },
                    { text: 'Learn Vue', isDone: false },
                    { text: 'Get a job offer', isDone: false }
                ]
            },
            computed: {
                filteredList: function () {
                    const search = this.text;
                    let comp = this.onlyComplited
                    let prog = this.onlyInProgress
                    return this.todos.filter(function (elem) {

                        if (search === '') return true;
                        else return elem.text.indexOf(search) > -1;
                    }).filter(function (elem) {
                        if (!comp) {
                            return true
                        } else return elem.isDone
                    }).filter(function (elem){
                        if (!prog) {
                            return true
                        } else return !elem.isDone
                    })
                },
                allTodo() {
                    return this.todos.length;
                },
                doneTodo() {
                    let doneTodos = this.todos.filter(todo => { return todo.isDone === true }).length;
                    return doneTodos
                },
                inProgressTodo() {
                    let inProgress = this.todos.filter(todo => { return todo.isDone === false }).length;
                    return inProgress
                },
                progress() {
                    if (this.doneTodo > 0) {
                        return Math.floor(this.doneTodo * 100 / this.allTodo);
                    } else {
                        return percents = 0
                    }
                }
            },
            methods: {
                newTodo: function () {
                    const inputValue = document.getElementById("createTask").value
                    if (inputValue != '' || inputValue === null) {
                        this.todos.push({
                            text: inputValue,
                            isDone: false
                        })
                    }
                    document.getElementById("createTask").value = ""
                },
                removeTodo: function (index) {
                    this.todos.splice(index, 1)
                },
                markAsDone: function (index) {
                    if (this.todos[index]) {
                        this.todos[index].isDone = !this.todos[index].isDone
                    }
                },
                completedTodo: function () {
                    this.onlyComplited = true
                    this.onlyInProgress = false
                },
                inProgress: function () {
                    this.onlyComplited = false
                    this.onlyInProgress = true
                },
                allTodos: function () {
                    this.onlyComplited = false
                    this.onlyInProgress = false
                }
            }
        })

    </script>
</body>

</html>